<aside id="side">
    <nav>
        <ul id="menu">
            <div id="leftBar">
                <% if user_signed_in? %>
                <% name = Role.where(:email => current_user.email).pluck(:name).uniq.join %>
                <p>Zalogowany jako <%= current_user.email %></p>
                <% end %>
                <li><%= link_to "Strona główna", root_path %></li>
                <li><%= link_to "Lista dostępnych projektów", projects_path %></li>
                <% if user_signed_in? && name == "administrator" %>
                <li><%= link_to "Lista ról w systemie",roles_path %></li>
                <% end %>
                <% if user_signed_in? && name != "" && name != "student" %>
                <li><%= link_to "Dodaj nowy projekt", new_project_path %></li>
                <% end %>
                <% if user_signed_in? %>
                <li><%= link_to "Edytuj profil",edit_user_registration_path %></li>
                <li><%= link_to "Wyloguj",destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><%= link_to "Rejestracja",new_user_registration_path %></li>
                <li><%= link_to "Zaloguj się",new_user_session_path %></li>
                <% end %>
                <li><%= link_to "O autorze", home_about_path %></li>
            </div>
        </ul>
    </nav>
</aside>