<% if user_signed_in? %>
<% name = Role.where(:email => current_user.email).pluck(:name).uniq.join %>
<% hasReservation = Reservation.where(:student_email => current_user.email).to_a %>
<% end %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Temat</th>
      <th>Prowadzący</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.topic %></td>
        <td><%= project.supervisor %></td>
        <td><%= link_to 'Szczegóły', project %></td>
        <td>
          <% if user_signed_in? && hasReservation.empty? == true && name == "student" && project.reserved == false %>
          <%= link_to "Zarezerwuj", new_reservation_path(project) %>
          <% end %>
        </td>
        <td>
          <% if user_signed_in? && current_user.email == project.supervisor %>
          <%= link_to 'Edytuj', edit_project_path(project) %>
          <% end %>
        </td>
        <td>
          <% if project.reserved == false %>
          <%= link_to 'Usuń', project, method: :delete, data: { confirm: 'Czy na pewno usunąć temat?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && name != "" && name != "student" %>
<%= link_to 'Dodaj nowy temat', new_project_path %>
<% end %>
