<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field form-inline form-group">
    <% f.label :user_id %><br>
    <% f.text_field :user_id, class: "form-control" %>
  </div>
  
  <div class="field form-inline form-group">
    <% f.label :project_id %><br>
    <% f.text_field :project_id, class: "form-control" %>
  </div>
  
  <div class="field form-inline form-group">
    <%= f.label :email_studenta %><br>
    <%= f.text_field :student_email, class: "form-control" %>
  </div>
  
  <div class="field form-inline form-group">
    <%= f.label :email_prowadzącego %><br>
    <%= f.text_field :supervisor_email, class: "form-control" %>
  </div>
  
  <div class="actions form-inline form-group">
    <%= f.submit class: "btn btn-default", value: "Wyślij" %>
  </div>
<% end %>
