<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8" />
  	<title>Rezerwacja projektów</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<%= render 'home/header' %>
		<%= render "home/aside" %>
		<section id="content">
			<%= yield %>
		</section>
		<div id="clear"></div>
		<%= render "home/footer" %>
	</div>
</body>
</html>
